<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ementa</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="ementa">
            <div>
                <h2>Nossa ementa do basico:</h2>

                <ul class="lista">

                    <li>Informática Básica</li>
                    <li>Arquitetura de Computadores</li>
                    <li>Operação de Computadores</li>
                    <li>Algoritmo</li>
                    <li>Redes I</li>

                </ul>

                <h2>Intermediario:</h2>

                <ul class="lista">

                    <li>Fundamento Web</li>
                    <li>Manutenção de Computadores</li>
                    <li>Segurança do Trabalho</li>
                    <li>Desenvolvimento Web I</li>
                    <li>Linguaguem de Programação I (Python)</li>
                    <li>Banco de Dados I</li>
                    <li>Desenvolvimento Web II</li>
                    <li>Redes II</li>

                </ul>

                <h2>Avançado:</h2>

                <ul class="lista">

                    <li>Linguagem de Programação II(Java)</li>
                    <li>Banco de Dados II</li>
                    <li>Desenvolvimento III</li>
                    <li>Desenvolvimento Avançado</li>
                    <li>Banco de Dados III</li>
                    <li>Redes Avançadas </li>
                    <li>Linguagem de Programação III (JavaScript)</li>
                    <li>Projeto de Sistemas</li>
                    <li>Segurança do Trabalho</li>

                </ul>
            </div>
        </section>

        <section id="bot2">
            <div>
                <button id="cadastrobtn" value="cadastro"><a href="/cadastro">Faça seu cadastro</a></button>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>