<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ementa</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>

        <section id="boxao2">
            <section id="ementa1">
                <div>
                    <h2>Primeiro mês:</h2>
    
                    <ul class="lista">
    
                        <li>Logica de programação</li>
                        <li>Algoritmos</li>
                        <li>Scratch</li>    
                    </ul>
                </div>
            </section>
    
            <section id="ementa2">
                <div>
                    <h2>Segundo mês:</h2>
    
                    <ul class="lista">
                        <li>HTML</li>
                        <li>CSS</li>
                      
                    </ul>
                </div>
            </section>
    
            <section id="ementa3">
                <div>
                    <h2>Terceiro mês:</h2>
    
                    <ul class="lista">
                        <li>CSS E HTML</li>
                        <li>JavaScript</li>
                        <li>Banco de dados</li>
                    </ul>
                </div>
            </section>
        </section>
        

        <section id="bot2">
            <div>
                <button id="cadastrobtn" value="cadastro"><a href="/cadastro">Faça seu cadastro</a></button>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>