<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Women Devs</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    
    <main>
        <section id="boxao">
            <section id="sobre">
                <div>
                    <h2>Sobre o nosso curso: </h2>

                    <p>Essa é uma plataforma criada exclusivamente para o publico feminino, para mulheres que sentem vontade de ir para a area de TI, de programação no caso do nosso curso. 
                        Nosso curso tem o objetivo de unir mulheres que desejam entrar para o mercado de programação e que não possuem muitos recursos para esta dando esse passo de fazer um curso de qualidade e sem custo.
                        No momento, como estamos no inicio, nossa plataforma estara fornecendo um curso basico de algumas linguagens especificas, mas primeiramente, começaremos pelo basico, a logica de programação. Temos uma area na pagina onde voce consegue ter acesso as linguagens que teremos no momento.
                    </p>
                </div>
            </section>

            <section id="dura">
                <div>
                    <h2>A duração e cadastramento do nosso curso: </h2>
                    
                    <p>Nosso curso tera a duração de tres meses, as turmas terão no maximo 30 alunas para as turmas não ficarem cheias e conseguirmos dar atenção a todas e tirar todas as duvidas das alunas.
                        O nosso curso é inteiramente gratuito, das aulas ao certificado, nosso intuito é realmente fornecer e ajudar no estudo e desenvolvimento de mulheres de todas as idades que possuem esse interesse. Para participar basta se cadastrar na area de cadastramento que ha dentro do nosso site.
                    </p>
                </div>
            </section>

        </section>

        <section id="bot">
            <div>
                <button id="btn" value="ementa"><a href="/ementa">Ver Ementa do Curso</a></button>
            </div>
        </section>
    </main>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>