<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>CodFont Rosa</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    
    <main>
        <section id="sobre">
            <div>
                <h2>Sobre o nosso curso: </h2>

                <p>Essa é uma plataforma criada exclusivaamente para mulheres, que desejam entrar no mundo da tecnologia.
                    Nosso objetivo com essa plataforma, é fazer com que a porcentagem de mulheres na area de TI cresça ainda mais.
                    A criação de uma plataforma de cursos voltada para as mulheres, trará sonhos e esperança novamente. Muitas vezes temos vontade de realizar algo, mas não fazemos por medo do que irão pensar ou de como seremos inseridas. 
                    Mas com uma plataforma voltada somente para mulheres, podemos crescer, podemos realizar sonhos e elas  poderão se sentir confortáveis e inseridas em um meio.
                    Nem sempre é só a questão de existirem muitos homens na área e os priorizarem, também é o pensar que não vale a pena começar na área por medo de não haver esse reconhecimento. Com o curso, irão se sentir acolhidas e estarão lutando juntas pelo mesmo sonho.
                </p>
                
                <p>Agora no inicio de nossa plataforma, iremos começar com apenas um curso, logo abaixo voce irá ver a ementa do nosso curso e fazer o seu cadastramento.
                O curso irá ser sobre informatica no geral, de forma introdutoria teremos varios assuntos e conteudos que irão seguir uma ementa.
                Espero que tenha boas experiencias em nosso site, aguardo voces em nossa classe.
                </p>
            </div>
        </section>

        <section id="card">
            <div>
                <img src="img/mulher.jpg" alt="mulheres fortes">
            </div>
        </section>

        <section id="bot">
            <div>
                <button id="btn" value="ementa"><a href="/ementa">Ver Ementa do Curso</a></button>
            </div>
        </section>
    </main>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>